{% extends "base.html" %}
{% load static %}
{% block body_block %}

<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Record ID</th>  
        <th>Pick-up Date</th>  
        <th>Drop-off Date</th>  
        <th>Start Odometer</th>  
        <th>End Odometer</th> 
        <th>Odometer Limitation</th>  
        <th>Vehicle</th>  
        <th>Pick-up Location</th>
        <th>Drop-off Location</th>    
        
    </tr>  
    </thead>  
    <tbody>  
{% for record in records %}  
    <tr>  
        <td>{{ record.record_id}}</td>
        <td>{{ record.pickup_date}}</td>  
        <td>{{ record.dropoff_date}}</td>  
        <td>{{ record.start_odo}}</td>    
        <td>{{ record.end_odo }}</td>  
        <td>{{ record.odo_limit }}</td>  
        <td>{{ record.vehicle }}</td>  
        <td>{{ record.pu_location }}</td> 
        <td>{{ record.do_location }}</td> 

        <td>  
            {% if user.is_superuser %}
            <a href="/edit/{{ record.record_id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/delete/{{ record.record_id }}">Delete</a>  
            {% else %}
            <a href="/invoice/{{ record.record_id }}">Invoice</a>  
            {% endif %}
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center>
    {% if user.is_superuser %}
    <a href="/emp" class="btn btn-primary">Add New Record</a>
    {% endif %}
</center>  
{% endblock %}